
.banner{
    background-color: black;
    
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../banner.jpg");
    
    height: 500px;
}
.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    margin-left: 100px;
    font-size: 2rem;
    
    color: white;
    h1{
        font-size: 4rem;
        padding: 20px;
    }
    p{
        font-size: small;
    }
  }
.row{
    padding: 1rem;
    background-color: black;
    color: white;
    h2{
        font-weight: 400;
        margin: 0.3rem;
    }

    .card{
        width: 200px;
        margin: 0.3rem;
        cursor: pointer;
        transition: transform 0.5s;
        &:hover{
            transform: translateY(-10px) scale(1.1);
        }
    }
    div{
        display: flex;
        
        overflow: auto;
        
    }
}